.nav {
  width: 100%;
  margin: 0px;
  background-color: rgb(26, 26, 107);
  height: 40px;
  display: grid;
  align-content: center;
  grid-area: nav;

  &__container {
    margin: 0px;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 50px;
    justify-content: center;
    justify-items: center;
  }

  &__item {
    list-style-type: none;
  }

  &__link-style {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
}